body{
			background-color: rgb(15, 1, 27);
		}
        img {
            float: left;
            width: 100px;
            height: 420px;
            object-fit: cover;
        }
        
        .col-md-2 {
            border-radius: 4px;
            background: #fff;
            box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
            transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
            /* padding: 14px 80px 18px 36px; */
            cursor: pointer;
            margin-top: 10em;
    
			width: 250px;
        }
        
        .col-md-2:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(20, 20, 20, 0.12), 0 4px 8px rgba(0, 0, 0, .06);
        }
        
        .row {
            margin-right: 2rem;
            margin-left: 5rem
        }
        
        .card-title {
            margin-bottom: -0.5rem;
            margin-top: 21em !important;
            font-weight: 600;
        }
        
        .btn-responsive {
            white-space: normal !important;
            word-wrap: break-word;
        }
        
        .nav {
            margin-left: 40% !important;
        }
        
        #defnition2 {
            color: black;
            width: fit-content !important;
        }
        
        .modal {
            width: 90%;
            height: 90%;
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 2em;
            margin-top: 0.7em;
            border-radius: 7px;
        }
        
        #abou2 {
            text-align: center;
            font-size: 13px;
            color: white;
            background-color: black;
            width: 100% !important;
            border-radius: 7px;
            padding: 0.7em;
            margin: auto;
            text-transform: uppercase;
        }
        
        .card1 {
            flex-direction: row;
            align-items: center;
	
        }
        
        .card-title1 {
            font-weight: bold;
        }